<div class="cen">
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="email?.invalid">{{
        email?.errors?.required
          ? "You must enter email"
          : email?.errors?.email
          ? "Not a valid email"
          : ""
      }}</mat-error> </mat-form-field
    ><br /><br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="password?.invalid">{{
        password?.errors?.required
          ? "You must enter password"
          : password?.errors?.pattern
          ? "Password should contain minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character."
          : ""
      }}</mat-error> </mat-form-field
    ><br /><br />
    <button
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      (click)="onLogin()"
    >
      <mat-spinner
        color="accent"
        *ngIf="isLoading"
        [diameter]="20"
      ></mat-spinner>
      <span *ngIf="!isLoading">Login</span>
    </button>
    <div style="margin-top: 30px">
      Not Registered ? <a routerLink="signup">Register</a>
    </div>
  </form>
</div>
