<form [formGroup]="homeForm" class="cen">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput formControlName="id" type="number" />
    <mat-error *ngIf="id?.invalid">{{
      id?.errors?.required ? "You must enter Id" : ""
    }}</mat-error> </mat-form-field
  ><br />
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="title?.invalid">{{
      title?.errors?.required ? "You must enter Title" : ""
    }}</mat-error> </mat-form-field
  ><br />
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="desc" />
    <mat-error *ngIf="desc?.invalid">{{
      desc?.errors?.required ? "You must enter Desc" : ""
    }}</mat-error> </mat-form-field
  ><br />
  <mat-form-field>
    <mat-label>Author</mat-label>
    <input matInput formControlName="author" /> </mat-form-field
  ><br />
  <button
    mat-raised-button
    color="primary"
    [disabled]="homeForm.invalid"
    (click)="onCreate()"
  >
    <mat-spinner color="accent" *ngIf="isLoading" [diameter]="20"></mat-spinner>
    <span *ngIf="!isLoading"
      ><span *ngIf="!isUpdate">Create</span
      ><span *ngIf="isUpdate">Update</span></span
    >
  </button>
</form>
