.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-ev {
  max-width: 300px;
  padding-bottom: 50px;
  margin: auto;
}
.table {
  margin: auto;
}
.form-control {
  box-shadow: 0 10px 40px 0 #b0c1d9;
}
.form-control::placeholder {
  font-family: FontAwesome;
}
span {
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
tr {
  padding: 5px;
}
td {
  padding: 5px;
}
