<div class="container cen">
  <h1>Events</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-ev">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder=" Search "
      />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events | filter: searchText">
          <td>{{ event.id }}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.desc }}</td>
          <td>
            <span
              *ngIf="user?.username == event.author"
              (click)="onUpdate(event)"
              >Update</span
            ><span
              *ngIf="user?.username == event.author"
              (click)="onDelete(event.id)"
              >Delete</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="cen">
      <button mat-raised-button color="primary" (click)="onCreate()">
        Create
      </button>
    </div>
  </div>
</div>
