<div class="cen">
  <h1>Register</h1>
  <form [formGroup]="regiForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="username?.invalid">{{
        username?.errors?.required ? "You must enter USername" : ""
      }}</mat-error> </mat-form-field
    ><br /><br />
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="email?.invalid">{{
        email?.errors?.required
          ? "You must enter email"
          : email?.errors?.email
          ? "Not a valid email"
          : ""
      }}</mat-error> </mat-form-field
    ><br /><br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="password?.invalid">{{
        password?.errors?.required
          ? "You must enter password"
          : password?.errors?.pattern
          ? "Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
          letter and 1 number"
          : ""
      }}</mat-error>
    </mat-form-field>

    <br /><br />
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="cpassword" />
      <mat-error *ngIf="cpassword?.invalid">{{
        cpassword?.errors?.required
          ? "You must enter password"
          : cpassword?.errors?.pattern
          ? "Confirm Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
          letter and 1 number"
          : ""
      }}</mat-error>
    </mat-form-field>
    <mat-error
      *ngIf="
        password?.valid &&
        cpassword?.valid &&
        password?.value !== cpassword?.value
      "
      >Password and Confirm Passowrd does not match</mat-error
    >
    <br /><br />
    <button
      mat-raised-button
      color="primary"
      [disabled]="regiForm.invalid || password?.value !== cpassword?.value"
      (click)="onRegister()"
    >
      <mat-spinner
        color="accent"
        *ngIf="isLoading"
        [diameter]="20"
      ></mat-spinner>
      <span *ngIf="!isLoading">Register</span>
    </button>
  </form>
</div>
